<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>health-check</servlet-name>
        <servlet-class>servlets.HealthCheckServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>health-check</servlet-name>
        <url-pattern>/healthcheck</url-pattern>
    </servlet-mapping>
</web-app>